# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        36
        99
        108
        105
        109
        97
        116
        105
        99
        98
        105
        111
        109
        101
        115
        106
        98
        103
        37
        51
        65
        98
        97
        115
        97
        108
        116
        95
        112
        111
        108
        105
        115
        104
        101
        100
        63
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        72
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        73
        -50
        -55
        -52
        77
        44
        -55
        76
        78
        -54
        -52
        -49
        77
        45
        -50
        74
        74
        7
        -54
        36
        37
        22
        39
        -26
        -108
        -60
        23
        -28
        -25
        100
        22
        103
        -92
        -90
        -40
        51
        52
        48
        -77
        48
        48
        8
        48
        0
        0
        -61
        -99
        20
        -101
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        35
        99
        104
        105
        115
        101
        108
        37
        51
        65
        103
        108
        97
        115
        115
        100
        121
        101
        100
        103
        114
        101
        101
        110
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        48
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        78
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        78
        -50
        -56
        44
        78
        -51
        1
        114
        -45
        115
        18
        -117
        -117
        83
        42
        83
        83
        -46
        -117
        82
        83
        -13
        -20
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        13
        24
        24
        26
        88
        -2
        -29
        1
        12
        12
        -1
        -1
        -113
        -54
        15
        111
        121
        0
        -25
        8
        -14
        19
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        36
        99
        108
        105
        109
        97
        116
        105
        99
        98
        105
        111
        109
        101
        115
        106
        98
        103
        37
        51
        65
        98
        97
        115
        97
        108
        116
        95
        112
        111
        108
        105
        115
        104
        101
        100
        63
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        79
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        73
        -50
        -55
        -52
        77
        44
        -55
        76
        78
        -54
        -52
        -49
        77
        45
        -50
        74
        74
        7
        -54
        36
        37
        22
        39
        -26
        -108
        -60
        23
        -28
        -25
        100
        22
        103
        -92
        -90
        -40
        51
        48
        52
        -80
        -4
        -57
        3
        24
        24
        -2
        -1
        31
        -107
        31
        -34
        -14
        0
        76
        -47
        -14
        -73
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        44
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        104
        97
        114
        100
        101
        110
        101
        100
        95
        99
        108
        97
        121
        63
        99
        111
        108
        111
        114
        61
        108
        105
        109
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        72
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        65
        22
        41
        46
        73
        4
        -14
        82
        -30
        51
        18
        -117
        82
        82
        65
        -116
        -28
        -100
        -60
        74
        -5
        -28
        -4
        -100
        -4
        34
        -37
        -100
        -52
        -36
        84
        6
        -122
        6
        -106
        -1
        -93
        0
        55
        -8
        61
        -4
        -67
        8
        0
        -92
        30
        21
        -54
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        26
        99
        104
        105
        115
        101
        108
        37
        51
        65
        105
        114
        111
        110
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        49
        52
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        74
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        74
        -50
        -56
        44
        78
        -51
        1
        114
        51
        -117
        -14
        -13
        -20
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        13
        77
        24
        24
        26
        88
        -2
        -29
        1
        12
        12
        -1
        -1
        -113
        -54
        15
        63
        -7
        -3
        -1
        -33
        -61
        -27
        1
        84
        82
        -19
        -42
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:5 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        35
        99
        104
        105
        115
        101
        108
        37
        51
        65
        103
        108
        97
        115
        115
        100
        121
        101
        100
        103
        114
        101
        101
        110
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        48
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        77
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        78
        -50
        -56
        44
        78
        -51
        1
        114
        -45
        115
        18
        -117
        -117
        83
        42
        83
        83
        -46
        -117
        82
        83
        -13
        -20
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        13
        24
        24
        -98
        48
        -1
        7
        2
        6
        60
        96
        84
        126
        -24
        -53
        3
        0
        19
        80
        84
        7
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


